Repository Animealth/animealth-backend, pull requests merged in 2024-07, with the labels that each got.

#50 49 feat create review entity with crud
  src/main/java/animealth/animealthbackend/api/article/dto/CreateArticleDTO.java
  src/main/java/animealth/animealthbackend/api/article/dto/GetArticlePageResponseDTO.java
  src/main/java/animealth/animealthbackend/api/article/dto/GetArticleResponseDTO.java
  src/main/java/animealth/animealthbackend/api/article/dto/UpdateArticleDTO.java
  src/main/java/animealth/animealthbackend/api/article/service/ArticleService.java
  src/main/java/animealth/animealthbackend/api/comment/dto/CreateCommentDTO.java
  src/main/java/animealth/animealthbackend/api/comment/dto/GetCommentResponseDTO.java
  src/main/java/animealth/animealthbackend/api/comment/service/CommentService.java
  src/main/java/animealth/animealthbackend/api/review/controller/ReviewController.java
  src/main/java/animealth/animealthbackend/api/review/dto/CreateReviewDTO.java
  src/main/java/animealth/animealthbackend/api/review/dto/GetReviewResponseDTO.java
  src/main/java/animealth/animealthbackend/api/review/dto/UpdateReviewDTO.java
  src/main/java/animealth/animealthbackend/api/review/service/ReviewService.java
  src/main/java/animealth/animealthbackend/api/veterinary/service/VeterinaryServiceImpl.java
  src/main/java/animealth/animealthbackend/domain/review/Review.java
  src/main/java/animealth/animealthbackend/domain/review/ReviewRepository.java
  src/test/java/animealth/animealthbackend/api/veterinary/service/VeterinaryServiceImplTest.java
Labels: 🎉BE, 💥BACKEND-ISSUE, 🎇FEAT, 🚑FIX, 🐂BULLCHALLENGER

#53 fix: 컨트롤러 수정(#52)
  src/main/java/animealth/animealthbackend/api/review/controller/ReviewController.java
  src/main/java/animealth/animealthbackend/api/review/service/ReviewService.java
  src/main/java/animealth/animealthbackend/domain/review/ReviewRepository.java
  src/main/resources/application.yml
  src/test/java/animealth/animealthbackend/domain/pet/PetRepositoryTest.java
Labels: 🚑FIX, 🧨HOTFIX, 💪DUMBVELOPER

#54 52 unit test for pet domain
  src/main/java/animealth/animealthbackend/api/pet/dto/PetDto.java
  src/test/java/animealth/animealthbackend/api/pet/PetServiceTest.java
  src/test/java/animealth/animealthbackend/domain/pet/PetRepositoryTest.java
Labels: 🎉BE, 🧶TEST, 💪DUMBVELOPER

#55 Feature/using open data
  build.gradle
  src/main/java/animealth/animealthbackend/api/article/dto/CreateArticleDTO.java
  src/main/java/animealth/animealthbackend/api/article/dto/GetArticlePageResponseDTO.java
  src/main/java/animealth/animealthbackend/api/article/dto/GetArticleResponseDTO.java
  src/main/java/animealth/animealthbackend/api/article/dto/UpdateArticleDTO.java
  src/main/java/animealth/animealthbackend/api/article/service/ArticleService.java
  src/main/java/animealth/animealthbackend/api/comment/dto/CreateCommentDTO.java
  src/main/java/animealth/animealthbackend/api/comment/dto/GetCommentResponseDTO.java
  src/main/java/animealth/animealthbackend/api/comment/service/CommentService.java
  src/main/java/animealth/animealthbackend/api/pet/dto/PetDto.java
  src/main/java/animealth/animealthbackend/api/review/controller/ReviewController.java
  src/main/java/animealth/animealthbackend/api/review/dto/CreateReviewDTO.java
  src/main/java/animealth/animealthbackend/api/review/dto/GetReviewResponseDTO.java
  src/main/java/animealth/animealthbackend/api/review/dto/UpdateReviewDTO.java
  src/main/java/animealth/animealthbackend/api/review/service/ReviewService.java
  src/main/java/animealth/animealthbackend/api/spending_history/controller/SpendingHistoryController.java
  src/main/java/animealth/animealthbackend/api/spending_history/dto/SpendingHistoryDTO.java
  src/main/java/animealth/animealthbackend/api/spending_history/service/SpendingHistoryService.java
  src/main/java/animealth/animealthbackend/api/veterinary/service/VeterinaryService.java
  src/main/java/animealth/animealthbackend/api/veterinary/service/VeterinaryServiceImpl.java
  src/main/java/animealth/animealthbackend/domain/review/Review.java
  src/main/java/animealth/animealthbackend/domain/review/ReviewRepository.java
  src/main/java/animealth/animealthbackend/domain/spending_history/SpendingHistory.java
  src/main/java/animealth/animealthbackend/domain/spending_history/SpendingHistoryRepository.java
  src/main/java/animealth/animealthbackend/global/config/auth/SecurityConfig.java
  src/main/resources/application.yml
  src/main/resources/templates/index.html
  src/test/java/animealth/animealthbackend/api/pet/PetServiceTest.java
  src/test/java/animealth/animealthbackend/api/spending_history/controller/SpendingHistoryControllerTest.java
  src/test/java/animealth/animealthbackend/api/spending_history/service/SpendingHistoryServiceTest.java
  src/test/java/animealth/animealthbackend/api/user/controller/LoginControllerTest.java
  src/test/java/animealth/animealthbackend/api/user/controller/UserControllerTest.java
  src/test/java/animealth/animealthbackend/api/user/service/UserServiceTest.java
  src/test/java/animealth/animealthbackend/api/veterinary/service/VeterinaryServiceImplTest.java
  src/test/java/animealth/animealthbackend/domain/pet/PetRepositoryTest.java
  src/test/java/animealth/animealthbackend/dummy/DummySpendingHistory.java
  src/test/java/animealth/animealthbackend/dummy/DummyUser.java
Labels: 🌈ALL, 🎉BE, 💥BACKEND-ISSUE, 🎇FEAT, 🐕YEOMYALOO

#56 47 feat spending history 테스트 코드 작성
  src/test/java/animealth/animealthbackend/api/spending_history/controller/SpendingHistoryControllerTest.java
  src/test/java/animealth/animealthbackend/domain/spending_history/SpendingHistoryRepositoryTest.java
Labels: 🧶TEST, 🐱MJLEE39

#57 [TEST] Review 도메인에 대한 CRUD 테스트
  src/main/java/animealth/animealthbackend/api/review/controller/ReviewController.java
  src/main/java/animealth/animealthbackend/api/review/dto/CreateReviewDTO.java
  src/main/java/animealth/animealthbackend/domain/review/ReviewRepository.java
  src/main/resources/templates/dummyPage.html
  src/test/java/animealth/animealthbackend/api/review/controller/ReviewControllerTest.java
  src/test/java/animealth/animealthbackend/api/review/service/ReviewServiceTest.java
  src/test/java/animealth/animealthbackend/domain/review/ReviewRepositoryTest.java
Labels: 🎉BE, 🧶TEST, 💥BACKEND-ISSUE, 🐂BULLCHALLENGER

#58 Refactor/code review
  src/main/java/animealth/animealthbackend/api/veterinary/dto/CreateVeterinaryDTO.java
  src/main/java/animealth/animealthbackend/api/veterinary/dto/CreateVeterinaryRequestDTO.java
  src/main/java/animealth/animealthbackend/api/veterinary/dto/DeleteVeterinaryDTO.java
  src/main/java/animealth/animealthbackend/api/veterinary/dto/UpdateVeterinaryDTO.java
  src/main/java/animealth/animealthbackend/api/veterinary/dto/UpdateVeterinaryRequestDTO.java
  src/main/java/animealth/animealthbackend/api/veterinary/dto/VeterinaryDTO.java
  src/main/java/animealth/animealthbackend/api/veterinary/dto/VeterinaryResponseDTO.java
  src/main/java/animealth/animealthbackend/api/veterinary/service/VeterinaryService.java
  src/main/java/animealth/animealthbackend/api/veterinary/service/VeterinaryServiceImpl.java
  src/main/java/animealth/animealthbackend/domain/veterinary/Veterinary.java
  src/test/java/animealth/animealthbackend/api/veterinary/service/VeterinaryServiceImplTest.java
  src/test/java/animealth/animealthbackend/dummy/DummyCreateVeterinaryRequestDTO.java
  src/test/java/animealth/animealthbackend/dummy/DummyUpdateVeterinaryRequestDTO.java
Labels: 🎉BE, 💥BACKEND-ISSUE, 🔨REFACTOR, 🚑FIX, 🚜RENAME, 🐕YEOMYALOO

#60 59 refactor service 추상화를 위한 interface 추가 #59
  src/main/java/animealth/animealthbackend/api/article/service/ArticleService.java
  src/main/java/animealth/animealthbackend/api/article/service/ArticleServiceImpl.java
  src/main/java/animealth/animealthbackend/api/comment/controller/CommentController.java
  src/main/java/animealth/animealthbackend/api/comment/service/CommentService.java
  src/main/java/animealth/animealthbackend/api/comment/service/CommentServiceImpl.java
  src/main/java/animealth/animealthbackend/api/review/controller/ReviewController.java
  src/main/java/animealth/animealthbackend/api/review/service/ReviewService.java
  src/main/java/animealth/animealthbackend/api/review/service/ReviewServiceImpl.java
  src/test/java/animealth/animealthbackend/api/comment/controller/CommentControllerTest.java
  src/test/java/animealth/animealthbackend/api/comment/service/CommentServiceTest.java
  src/test/java/animealth/animealthbackend/api/review/controller/ReviewControllerTest.java
  src/test/java/animealth/animealthbackend/api/review/service/ReviewServiceTest.java
Labels: 🎉BE, 💥BACKEND-ISSUE, 🔨REFACTOR, 🐂BULLCHALLENGER

#62 61 refactor restcontroller로 작성된 controller 레이어 controller로 변경
  src/main/java/animealth/animealthbackend/api/article/controller/ArticleController.java
  src/main/java/animealth/animealthbackend/api/comment/controller/CommentController.java
  src/main/java/animealth/animealthbackend/api/review/controller/ReviewController.java
Labels: 🎉BE, 💥BACKEND-ISSUE, 🔨REFACTOR, 🐂BULLCHALLENGER

#64 63 feat 기능 동작을 테스트 할 수 있는 간단한 프론트페이지 thymeleaf로 생성
  src/main/java/animealth/animealthbackend/api/article/controller/ArticleController.java
  src/main/java/animealth/animealthbackend/api/article/controller/ArticleViewController.java
  src/main/java/animealth/animealthbackend/api/comment/controller/CommentController.java
  src/main/java/animealth/animealthbackend/api/comment/service/CommentServiceImpl.java
  src/main/java/animealth/animealthbackend/api/review/controller/ReviewViewController.java
  src/main/java/animealth/animealthbackend/global/config/auth/SecurityConfig.java
  src/main/resources/static/css/article.css
  src/main/resources/static/js/articles/createArticle.js
  src/main/resources/static/js/articles/deleteArticle.js
  src/main/resources/static/js/articles/readArticle.js
  src/main/resources/static/js/articles/readArticles.js
  src/main/resources/static/js/articles/updateArticle.js
  src/main/resources/templates/articles/createArticle.html
  src/main/resources/templates/articles/deleteArticle.html
  src/main/resources/templates/articles/readArticle.html
  src/main/resources/templates/articles/readArticles.html
  src/main/resources/templates/articles/updateArticle.html
  src/main/resources/templates/dummyPage.html
Labels: 🎁FE, 💥FRONTEND-ISSUE, 🎇FEAT, 🐂BULLCHALLENGER

#65 [FEAT] 배포 환경에서의 HTTPS Request를 위한 meta 태그 HTML에 추가
  src/main/resources/templates/articles/createArticle.html
  src/main/resources/templates/articles/deleteArticle.html
  src/main/resources/templates/articles/readArticle.html
  src/main/resources/templates/articles/readArticles.html
  src/main/resources/templates/articles/updateArticle.html
  src/main/resources/templates/index.html
  src/main/resources/templates/login.html
Labels: 🎁FE, 💥FRONTEND-ISSUE, 🎇FEAT, 🐂BULLCHALLENGER

#66 [FEAT] Soft Delete를 위한 @SQLDelete 엔티티에 추가
  src/main/java/animealth/animealthbackend/domain/article/Article.java
  src/main/java/animealth/animealthbackend/domain/comment/Comment.java
  src/main/java/animealth/animealthbackend/domain/review/Review.java
Labels: 🎉BE, 💥BACKEND-ISSUE, 🎇FEAT, 🐂BULLCHALLENGER

#69 68 refactor pet service 인터페이스 생성 및 controller 수정
  src/main/java/animealth/animealthbackend/api/pet/controller/PetController.java
  src/main/java/animealth/animealthbackend/api/pet/controller/PetRestController.java
  src/main/java/animealth/animealthbackend/api/pet/service/PetService.java
  src/main/java/animealth/animealthbackend/api/pet/service/PetServiceImpl.java
  src/main/resources/static/css/pet.css
  src/main/resources/static/js/pet/pet.js
  src/main/resources/templates/pet/petDetail.html
  src/main/resources/templates/pet/petList.html
  src/main/resources/templates/pet/registerPet.html
  src/main/resources/templates/pet/updatePet.html
  src/test/java/animealth/animealthbackend/api/pet/PetServiceImplTest.java
Labels: 🎉BE, 🔨REFACTOR, 💪DUMBVELOPER

#73 72 modify user 코드 리펙토링
  src/main/java/animealth/animealthbackend/api/article/controller/ArticleController.java
  src/main/java/animealth/animealthbackend/api/pet/controller/PetRestController.java
  src/main/java/animealth/animealthbackend/api/review/service/ReviewServiceImpl.java
  src/main/java/animealth/animealthbackend/api/spending_history/controller/SpendingHistoryController.java
  src/main/java/animealth/animealthbackend/api/spending_history/controller/SpendingHistoryRestController.java
  src/main/java/animealth/animealthbackend/api/spending_history/dto/SpendingHistoryDTO.java
  src/main/java/animealth/animealthbackend/api/spending_history/service/SpendingHistoryService.java
  src/main/java/animealth/animealthbackend/api/spending_history/service/SpendingHistoryServiceImpl.java
  src/main/java/animealth/animealthbackend/api/user/controller/UseRestrController.java
  src/main/java/animealth/animealthbackend/api/user/controller/UserController.java
  src/main/java/animealth/animealthbackend/api/user/dto/UserDTO.java
  src/main/java/animealth/animealthbackend/api/user/service/UserService.java
  src/main/java/animealth/animealthbackend/api/user/service/UserServiceImpl.java
  src/main/java/animealth/animealthbackend/domain/review/ReviewRepository.java
  src/main/java/animealth/animealthbackend/domain/spending_history/SpendingHistory.java
  src/main/java/animealth/animealthbackend/domain/spending_history/SpendingHistoryRepository.java
  src/main/java/animealth/animealthbackend/domain/user/User.java
  src/main/java/animealth/animealthbackend/global/config/auth/dto/SessionUser.java
  src/main/resources/templates/spending_history/delete.html
  src/main/resources/templates/spending_history/detail.html
  src/main/resources/templates/spending_history/list.html
  src/main/resources/templates/user/detail.html
  src/main/resources/templates/user/list.html
  src/test/java/animealth/animealthbackend/api/article/controller/ArticleControllerTest.java
  src/test/java/animealth/animealthbackend/api/article/service/ArticleServiceTest.java
  src/test/java/animealth/animealthbackend/api/comment/controller/CommentControllerTest.java
  src/test/java/animealth/animealthbackend/api/comment/service/CommentServiceTest.java
  src/test/java/animealth/animealthbackend/api/pet/PetServiceImplTest.java
  src/test/java/animealth/animealthbackend/api/review/controller/ReviewControllerTest.java
  src/test/java/animealth/animealthbackend/api/review/service/ReviewServiceTest.java
  src/test/java/animealth/animealthbackend/api/spending_history/controller/SpendingHistoryRestControllerTest.java
  src/test/java/animealth/animealthbackend/api/spending_history/service/SpendingHistoryServiceTest.java
  src/test/java/animealth/animealthbackend/api/user/controller/UseRestrControllerTest.java
  src/test/java/animealth/animealthbackend/api/user/service/UserServiceImplTest.java
  src/test/java/animealth/animealthbackend/domain/review/ReviewRepositoryTest.java
  src/test/java/animealth/animealthbackend/dummy/DummyUser.java
Labels: 🐱MJLEE39
