Repository Animealth/animealth-backend, pull requests merged in 2024-06, with the labels that each got.

#4 feature 이슈 테스트
  src/main/java/animealth/animealthbackend/AnimealthBackendApplication.java
Labels: 🎉BE

#9 feature user findAll, findById
  src/main/java/animealth/animealthbackend/api/controller/UserController.java
  src/main/java/animealth/animealthbackend/api/dto/UserDTO.java
  src/main/java/animealth/animealthbackend/api/service/UserService.java
  src/main/java/animealth/animealthbackend/domain/user/User.java
  src/main/java/animealth/animealthbackend/global/config/auth/dto/OAuthAttributes.java
  src/main/java/animealth/animealthbackend/global/config/auth/dto/SessionUser.java
  src/main/resources/application.yml
Labels: 💥BACKEND-ISSUE

#11 user update
  src/main/java/animealth/animealthbackend/api/controller/UserController.java
  src/main/java/animealth/animealthbackend/api/service/UserService.java
Labels: 🎉BE, 🐱MJLEE39

#13 user delete
  src/main/java/animealth/animealthbackend/api/controller/UserController.java
  src/main/java/animealth/animealthbackend/api/service/UserService.java
Labels: 🎉BE, 🐱MJLEE39

#17 user test
  build.gradle
  src/main/java/animealth/animealthbackend/api/controller/LoginController.java
  src/main/java/animealth/animealthbackend/api/controller/UserController.java
  src/main/java/animealth/animealthbackend/api/dto/UserDTO.java
  src/main/java/animealth/animealthbackend/api/service/UserService.java
  src/main/java/animealth/animealthbackend/domain/BaseEntity.java
  src/main/java/animealth/animealthbackend/domain/user/User.java
  src/main/java/animealth/animealthbackend/domain/user/UserRepository.java
  src/main/resources/application.yml
  src/test/java/animealth/animealthbackend/api/controller/LoginControllerTest.java
  src/test/java/animealth/animealthbackend/api/controller/UserControllerTest.java
  src/test/java/animealth/animealthbackend/api/service/UserServiceTest.java
  src/test/java/animealth/animealthbackend/domain/user/UserRepositoryTest.java
  src/test/java/animealth/animealthbackend/dummy/DummyUser.java
  src/test/java/animealth/animealthbackend/global/config/auth/SecurityConfigTest.java
Labels: 💥BACKEND-ISSUE, 🐱MJLEE39

#18 [FEAT] Create Article Entity With CRUD
  src/main/java/animealth/animealthbackend/api/article/controller/ArticleController.java
  src/main/java/animealth/animealthbackend/api/article/dto/CreateArticleDTO.java
  src/main/java/animealth/animealthbackend/api/article/dto/GetArticlePageResponseDTO.java
  src/main/java/animealth/animealthbackend/api/article/dto/GetArticleResponseDTO.java
  src/main/java/animealth/animealthbackend/api/article/dto/UpdateArticleDTO.java
  src/main/java/animealth/animealthbackend/api/article/service/ArticleService.java
  src/main/java/animealth/animealthbackend/api/common/constant/ResultType.java
  src/main/java/animealth/animealthbackend/api/common/controller/BaseController.java
  src/main/java/animealth/animealthbackend/api/common/dto/ResponseDTO.java
  src/main/java/animealth/animealthbackend/api/common/dto/ResultObject.java
  src/main/java/animealth/animealthbackend/api/common/exception/BaseException.java
  src/main/java/animealth/animealthbackend/domain/article/Article.java
  src/main/java/animealth/animealthbackend/domain/article/ArticleRepository.java
  src/main/java/animealth/animealthbackend/global/config/auth/dto/SessionUser.java
Labels: 🎉BE, 💥BACKEND-ISSUE, 🎇FEAT, 🐂BULLCHALLENGER

#20 [FEAT] Create Comment Entity With CRUD
  src/main/java/animealth/animealthbackend/api/article/dto/GetArticleResponseDTO.java
  src/main/java/animealth/animealthbackend/api/article/service/ArticleService.java
  src/main/java/animealth/animealthbackend/api/comment/controller/CommentController.java
  src/main/java/animealth/animealthbackend/api/comment/dto/CreateCommentDTO.java
  src/main/java/animealth/animealthbackend/api/comment/dto/GetCommentResponseDTO.java
  src/main/java/animealth/animealthbackend/api/comment/dto/UpdateCommentRequestDTO.java
  src/main/java/animealth/animealthbackend/api/comment/service/CommentService.java
  src/main/java/animealth/animealthbackend/domain/comment/Comment.java
  src/main/java/animealth/animealthbackend/domain/comment/CommentRepository.java
Labels: 🎉BE, 💥BACKEND-ISSUE, 🎇FEAT, 🐂BULLCHALLENGER

#23 [TEST] Unit Test for Comment Domain
  src/main/java/animealth/animealthbackend/api/comment/dto/CreateCommentDTO.java
  src/main/java/animealth/animealthbackend/api/comment/dto/GetCommentResponseDTO.java
  src/main/java/animealth/animealthbackend/api/comment/dto/UpdateCommentRequestDTO.java
  src/main/java/animealth/animealthbackend/api/comment/service/CommentService.java
  src/main/java/animealth/animealthbackend/domain/comment/Comment.java
  src/test/java/animealth/animealthbackend/api/comment/service/CommentServiceTest.java
  src/test/java/animealth/animealthbackend/domain/comment/CommentRepositoryTest.java
Labels: 🎉BE, 🧶TEST, 💥BACKEND-ISSUE, 🔨REFACTOR, 🚑FIX, 🐂BULLCHALLENGER

#25 [TEST] Unit Test for Comment Controller
  src/test/java/animealth/animealthbackend/api/comment/controller/CommentControllerTest.java
Labels: 🎉BE, 🧶TEST, 💥BACKEND-ISSUE, 🐂BULLCHALLENGER

#27 22 feat create pet entity
  src/main/java/animealth/animealthbackend/api/pet/controller/PetController.java
  src/main/java/animealth/animealthbackend/api/pet/dto/PetDto.java
  src/main/java/animealth/animealthbackend/api/pet/dto/UpdatePetResponseDTO.java
  src/main/java/animealth/animealthbackend/api/pet/repository/PetRepository.java
  src/main/java/animealth/animealthbackend/api/pet/service/PetService.java
  src/main/java/animealth/animealthbackend/domain/pet/Pet.java
  src/main/java/animealth/animealthbackend/domain/pet/PetCategory.java
  src/main/java/animealth/animealthbackend/domain/pet/PetGender.java
Labels: 🎉BE, 🎇FEAT, 🏋DUMBVELOPER

#28 [TEST] Unit Test for Article Domain
  src/main/java/animealth/animealthbackend/api/article/controller/ArticleController.java
  src/main/java/animealth/animealthbackend/api/article/dto/CreateArticleDTO.java
  src/main/java/animealth/animealthbackend/api/article/dto/UpdateArticleDTO.java
  src/main/java/animealth/animealthbackend/api/article/service/ArticleService.java
  src/test/java/animealth/animealthbackend/api/article/controller/ArticleControllerTest.java
  src/test/java/animealth/animealthbackend/api/article/service/ArticleServiceTest.java
  src/test/java/animealth/animealthbackend/api/comment/controller/CommentControllerTest.java
  src/test/java/animealth/animealthbackend/domain/article/ArticleRepositoryTest.java
Labels: 🎉BE, 🧶TEST, 💥BACKEND-ISSUE, 🐂BULLCHALLENGER

#30 Test/veterinary
  src/main/java/animealth/animealthbackend/domain/veterinary/veterinary.java
  src/test/java/animealth/animealthbackend/domain/veterinary/veterinaryTest.java
  src/test/java/animealth/animealthbackend/dummy/DummyVeterinary.java
Labels: 🎉BE, 🧶TEST, 🐕YEOMYALOO

#31 FEAT: 병원 기록 관련 엔티티 작성
  src/main/java/animealth/animealthbackend/domain/medical_history/MedicalHistory.java
Labels: 🎉BE, 🎇FEAT, 🐕YEOMYALOO

#32 [TEST]: 병원 기록 관련 엔티티 테스트, 더미 데이터 생성
  src/main/java/animealth/animealthbackend/domain/veterinary/Veterinary.java
  src/test/java/animealth/animealthbackend/domain/medical_history/MedicalHistoryTest.java
  src/test/java/animealth/animealthbackend/dummy/DummyMedicalHistory.java
Labels: 🎉BE, 💥BACKEND-ISSUE, 🐕YEOMYALOO

#33 Feature/vaccination alarm
  src/main/java/animealth/animealthbackend/AnimealthBackendApplication.java
  src/main/java/animealth/animealthbackend/api/vaccine/VaccinationAlarmService.java
  src/main/java/animealth/animealthbackend/api/vaccine/VaccinationAlarmServiceImpl.java
  src/main/java/animealth/animealthbackend/domain/medical_history/MedicalHistory.java
  src/main/java/animealth/animealthbackend/domain/medical_history/MedicalHistoryRepository.java
  src/main/java/animealth/animealthbackend/domain/pet/Pet.java
  src/main/java/animealth/animealthbackend/domain/pet/PetRepository.java
  src/main/java/animealth/animealthbackend/domain/vaccine/VaccineType.java
  src/main/java/animealth/animealthbackend/domain/vaccine/VaccineTypeConverter.java
  src/test/java/animealth/animealthbackend/domain/medical_history/MedicalHistoryTest.java
  src/test/java/animealth/animealthbackend/dummy/DummyMedicalHistory.java
Labels: 🎉BE, 💥BACKEND-ISSUE, 🐕YEOMYALOO

#36 TEST: 동물병원 CRUD TEST 작성
  src/test/java/animealth/animealthbackend/api/veterinary/service/VeterinaryServiceImplTest.java
  src/test/java/animealth/animealthbackend/domain/veterinary/VeterinaryRepositoryTest.java
  src/test/java/animealth/animealthbackend/dummy/DummyCreateVeterinaryRequestDTO.java
  src/test/java/animealth/animealthbackend/dummy/DummyUpdateVeterinaryRequestDTO.java
Labels: 🎉BE, 🧶TEST, 💥BACKEND-ISSUE, 🐕YEOMYALOO

#38 CHORE: 테스트 커버리지 가시화 작업을 위한 라이브러리 추가 작업을 진행했습니다.
  build.gradle
Labels: 🌈ALL, 🎉BE, 🧶TEST, 💥BACKEND-ISSUE

#40 feature: 가계부 생성
  src/main/java/animealth/animealthbackend/api/spending_history/controller/SpendingHistoryController.java
  src/main/java/animealth/animealthbackend/api/spending_history/dto/SpendingHistoryDTO.java
  src/main/java/animealth/animealthbackend/api/spending_history/service/SpendingHistoryService.java
  src/main/java/animealth/animealthbackend/domain/spending_history/SpendingHistory.java
  src/main/java/animealth/animealthbackend/domain/spending_history/SpendingHistoryRepository.java
  src/main/java/animealth/animealthbackend/global/config/auth/SecurityConfig.java
  src/main/resources/templates/index.html
Labels: 🎉BE, 🐱MJLEE39

#42 feature: 내가 쓴 가계부 보기
  src/main/java/animealth/animealthbackend/api/spending_history/controller/SpendingHistoryController.java
  src/main/java/animealth/animealthbackend/api/spending_history/service/SpendingHistoryService.java
  src/main/java/animealth/animealthbackend/domain/spending_history/SpendingHistoryRepository.java
  src/main/resources/templates/index.html
Labels: 🎉BE, 🐱MJLEE39

#44 가계부 수정
  src/main/java/animealth/animealthbackend/api/spending_history/controller/SpendingHistoryController.java
  src/main/java/animealth/animealthbackend/api/spending_history/service/SpendingHistoryService.java
  src/main/java/animealth/animealthbackend/domain/spending_history/SpendingHistory.java
  src/main/resources/templates/index.html
Labels: 🎉BE, 🐱MJLEE39

#46 가계부 삭제
  src/main/java/animealth/animealthbackend/api/spending_history/controller/SpendingHistoryController.java
  src/main/java/animealth/animealthbackend/api/spending_history/service/SpendingHistoryService.java
  src/main/resources/templates/index.html
Labels: 🎉BE, 🐱MJLEE39

#48 service 계층 테스트코드 작성
  src/main/java/animealth/animealthbackend/domain/spending_history/SpendingHistory.java
  src/test/java/animealth/animealthbackend/api/spending_history/controller/SpendingHistoryControllerTest.java
  src/test/java/animealth/animealthbackend/api/spending_history/service/SpendingHistoryServiceTest.java
  src/test/java/animealth/animealthbackend/api/user/controller/LoginControllerTest.java
  src/test/java/animealth/animealthbackend/api/user/controller/UserControllerTest.java
  src/test/java/animealth/animealthbackend/api/user/service/UserServiceTest.java
  src/test/java/animealth/animealthbackend/dummy/DummySpendingHistory.java
  src/test/java/animealth/animealthbackend/dummy/DummyUser.java
Labels: 🧶TEST, 🐱MJLEE39
